<html ng-app="moreDirectivesApp">

<head>
<title>More Directives App</title>
<script src="../lib/angular.js"></script>
<script src="app.js"></script>
</head>

<body ng-controller="moreDirectivesCtrl">
	<h1>More Directives App</h1>

	<div ng-controller="moreDirectivesCtrl as Ctrl">
		<input ng-model="Ctrl.checked" type="checkbox"> </input>
		<p ng-hide="Ctrl.checked">show some content</p>
		<p></p>
		<p ng-repeat="j in Ctrl.myList">Hello</p>

		<div ng-repeat="j in Ctrl.myList">
			<p>one</p>
			<p>two<input type="text"></input></p>
			<p>three<button>update time</button></p>
		</div>
		<hr/>
		<div ng-repeat="obj in Ctrl.PerList">
			<p>{{obj.name}}</p> <p>{{obj.age}}</p><hr/>
		</div>
	</div>
</body>


</html>
